@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2:300,400,600&display=swap');

@import 'bootstrap/scss/bootstrap';

.responsive-font-size {
  font-size: 36px;
}

@include media-breakpoint-up(md) {
  .responsive-font-size {
    font-size: 80px;
  }
}

@include media-breakpoint-up(lg) {
  .py-lg-10 {
    padding-top: ($spacer * 5) !important;
    padding-bottom: ($spacer * 5) !important;
  }
}
