@import url('https://fonts.googleapis.com/css?family=Baloo+Da+2:300,400,600&display=swap');

@import 'bootstrap/scss/bootstrap';

.responsive-font-size {
  font-size: 36px;
}

@include media-breakpoint-up(md) {
  .responsive-font-size {
    font-size: 80px;
  }
}

@include media-breakpoint-up(lg) {
  .py-lg-10 {
    padding-top: ($spacer * 5) !important;
    padding-bottom: ($spacer * 5) !important;
  }
}

// override bootstrap theme variables

$theme-colors: (
  "primary": #1D1D24,
  "danger": #984D51
);

$dark: #1D1D24;
$red: #984D51;
$primary: $red;
$white: #EBE9E0;

.btn-primary {
  background: transparent;
  border: 1px solid $primary;
  color: $white;

  &:hover {
    background: $primary;
    border-color: darken($primary, 10%);
  }
}
